.banner-container {
    position: relative; /* Ensures child elements are positioned within */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container img {
    width: 100%;
    height: auto;
    display: block;
    
}

.banner-text {
    margin: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lato", sans-serif;
    font-weight: 650;
    font-style: normal;
    font-size: 3vw; /* Responsive text size */
    
    text-align: center;
    
    background-color: #ede0c0;
    background-size: 1px;
    
}
